# LaTeX
snippet ma
	$latex ${1}$${2}
# Bold
snippet bf
	<strong>${1}</strong>${2}
# Emphasis
snippet em
	<em>${1}</em>${2}
# Blockquote
snippet quote
	<blockquote>${1}</blockquote>${2}
# href
snippet href
	<a href="${1:url}">${2:text}</a>${3}
# Double quotes
snippet ``
	&ldquo;${1}&rdquo;
# Single quotes
snippet `
	&lsquo;${1}&rsquo;
